@model List<MailPreview>

<style>
    div scroll {
        height: 100%;
        width: 100%;
        margin: 4px, 4px;
        padding: 4px;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        table-layout: fixed;
        width: 90%;
        min-width: 1000px;
    }

    td a {
        display: block;
        padding: 8px;
        color: inherit;
    }

        td a:hover {
            color: inherit;
            text-decoration: none;
        }

    td, th {
        border-bottom: 1px solid #dddddd;
        text-align: left;
    }

    th a{
        padding: 5px;
        display:block;
        color: inherit;
    }

    th a:hover{
        text-decoration: none;
        color: inherit;
        background-color: #E5E5E5;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    .center {
        text-align: center;
    }

    .pagination {
        display: inline-block;
        margin-top: 10px;
    }

        .pagination a, p {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
            margin: 0 4px;
        }

            .pagination a.potential {
            }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border: 1px solid #4CAF50;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }
</style>

@{
    int pageSize = ViewBag.PageSize;
    string sorting = ViewBag.Sorting.ToLower();
    string address = ViewBag.Address;
    int folder = ViewBag.Folder; }
@await Html.PartialAsync("~/Views/Partial/MailboxOptions.cshtml", new MailboxOptionsModel()
{
    pageSize = pageSize,
    address = address,
    folder = folder
})
<div class="list-group">
    @if (Model.Count == 0)
    {
        <label>Папка пуста.</label>
    }
    else
    {
<table align="left">
    <colgroup>
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 15%;">
    </colgroup>
    <tr>
        @{
            var sortings = new[] { "address", "title", "content", "time" };
            var header0 = folder == 1 ? "Отправитель" : "Получатель";
            var headers = new[] { header0, "Тема", "Содержимое", "Дата отправления" };
            for (int i = 0; i < headers.Length; i++)
            {
                string linkSort;
                if (sorting == sortings[i] + "desc")
                {
                    linkSort = sortings[i];
                    headers[i] += " ↑";
                }
                else if (sorting == sortings[i])
                {
                    linkSort = sortings[i] + "desc";
                    headers[i] += " ↓";
                }
                else
                {
                    linkSort = sortings[i];
                }
                <th>
                    <a href=@Url.Action("Folder", "Mailbox", new
                    {
                        folder = folder,
                        sorting = linkSort,
                        pageSize = pageSize,
                        address = address
                    })>
                        @headers[i]
                    </a>
                </th>
            }
                        }
    </tr>
    @foreach (var preview in Model)
    {
        <tr>
            <td>
                <a href="@(Url.Action("Read", "Mail", new { id = preview.Id }))">
                    @if (folder == 1)
                    {
                        @(preview.Sender + "@gachimail.com")
                    }
                    else
                            {
                        @(preview.Receivers[0] + "@gachimail.com (" + preview.Receivers.Length + ")")
                    }
                </a>
            </td>
            <td>
                <a href="@(Url.Action("Read", "Mail", new { id = preview.Id }))">
                    @preview.Title
                </a>
            </td>
            <td>
                <a href="@(Url.Action("Read", "Mail", new { id = preview.Id }))">
                    @preview.ContentPreview
                </a>
            </td>
            <td>
                <a href="@(Url.Action("Read", "Mail", new { id = preview.Id }))">
                    @preview.SendingTime
                </a>
            </td>
        </tr>
    }
</table>
        <div class="center">
            <div class="pagination">
                @{
                    for (int i = 0; i <= ViewBag.LastPage + 1; i++)
                    {
                        string label = i.ToString();
                    int redirPage = i;
                        if (i == 0)
                        {
                            label = "<";
                            redirPage = ViewBag.Page - 1;
                        }
                        else if (i == ViewBag.LastPage + 1)
                        {
                            label = ">";
                            redirPage = ViewBag.Page + 1;
                        }

            if ((i == 0 && ViewBag.Page == 1)
                || (i == ViewBag.LastPage + 1 && ViewBag.Page == ViewBag.LastPage))
            {
                            <p>@label</p>
                        }
            else
            {
                            <a class=@(i == ViewBag.Page ? "active" : "potential")
                               href="@(Url.Action("Folder", "Mailbox", new
                                 {
                page = redirPage,
                                     pageSize = pageSize,
                                     sorting = sorting,
                                     sender = address,
                                     folder = folder
                                 }))">
                                @label
                            </a>
                        }
                    }
                }
            </div>
        </div>
    }
</div>
